body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th, td {
  min-width: 40px;
  text-align: left;
  padding: 5px;

}

tr {
  border-bottom-style: dot-dash;
  border-bottom: #282c34;
  border-bottom-width: 2px;
}

table {
  min-width: 100vmax;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border: #282c34;
}

